*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: #325050;
    font-size: 70%;
    font-family: 'Libre Baskerville', sans-serif;
}

header{    
    background: #2d6360 50% 0 url(image/huntington.jpg) no-repeat;
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(image/contours.png), url(image/noise.png), url(image/gridlines.png), url(image/huntington.jpg);
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    height: 230px;
    padding: 20px 0px 70px 0px;
    text-align: center
}

.h1-before{
    display: inline-block;
    position: relative;
    top:20px;
    height: 80px;
    width: 80px;
    background: url(image/enso.svg);
    background-size: contain;
}

h1{
    display: inline-block;
    color: #FFFFFF;
    font-size: 3.2em;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

h2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6em;
    font-style: italic;
    font-weight: normal;
}

h3{
    font-size: 1.25em;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    margin: .5em;
}

main{
    width: 80%;
    margin: auto;
}

.main1{
    margin-top: 2em;
}

.main2{
    width: 100%;
    padding: 35px;
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-image: url(contours-opaque.png), url(gridlines-opaque.png), url(bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
}

p{
    padding: 10px;
}

.bottom-banner{
    background-image: url(image/contours.png), url(image/gridlines.png), url(image/noise.png), url(image/koi.jpg);
    background-size: 50% auto, auto, auto, cover; 
}