body {
    text-align: left;
    font-size: 24px;
}

.container {
    display: block;
    max-width: 895px;
    height: auto;
    position: relative;
    left: 25%;
}

h1 h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 50px;
    color: darkgreen;
}

h2 {
    font-size: 40px;
}

img {
    float: left;
    width: 40%;
    height: auto;
    padding: 20px;
}

p {
    word-wrap: normal;
    line-height: 30px;
}

a {
    float: left;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

