.App {
  display: grid;
  grid-template-rows: 100px auto 100px;
  height: 100%;
  text-align: center;
}

.navbar{
  background: grey;
}

.content{
  background: lightgrey;
}

.footer{
  background: grey;
}